<div class="list-group" id="accordion">
  <% instance_variable_get(element_name).each do |element| %>
    <div class="list-group-item">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" href="#item<%= element.id %>">
            <%= element.send(head) %>
          </a>
        </h3>

        <% if defined? tags %>
          <% element.send(tags).each do |tag| %>
            <h4 class="panel-title tag"><span class="label <%= tag.try(:css_class) %>"><%= tag.send(tag_name) %></span></h4>
          <% end %>
        <% end %>
      </div>
      <div id="item<%= element.id %>" class="panel-collapse collapse">
        <div class="panel-body">
          <div>
            <%= element.send(content) if defined? content %>
          </div>
          <div class="details">
            <%= link_to 'Szczegóły', element, class: "btn btn-primary" %>
            <% if user_signed_in? %>
              <%= link_to 'Edytuj', send("edit_#{element.class.name.underscore}_path", element), class: "btn btn-warning" %>
              <%= link_to 'Usuń', element, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>