<h1>Listing projects_technologies</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Technology</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects_technologies.each do |projects_technology| %>
      <tr>
        <td><%= projects_technology.project %></td>
        <td><%= projects_technology.technology %></td>
        <td><%= link_to 'Show', projects_technology %></td>
        <td><%= link_to 'Edit', edit_projects_technology_path(projects_technology) %></td>
        <td><%= link_to 'Destroy', projects_technology, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Projects technology', new_projects_technology_path %>
