<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @projects_technology.project %>
</p>

<p>
  <strong>Technology:</strong>
  <%= @projects_technology.technology %>
</p>

<%= link_to 'Edit', edit_projects_technology_path(@projects_technology) %> |
<%= link_to 'Back', projects_technologies_path %>
