<% content_for :title, "Lista zdjęć" %>

<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Description</th>
      <th>Project</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @screenshots.each do |screenshot| %>
      <tr>
        <td><%= screenshot.image %></td>
        <td><%= screenshot.description %></td>
        <td><%= screenshot.project_id %></td>
        <td><%= link_to 'Show', screenshot %></td>
        <td><%= link_to 'Edit', edit_screenshot_path(screenshot) %></td>
        <td><%= link_to 'Destroy', screenshot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Screenshot', new_screenshot_path %>
