<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= full_title yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navbar' %>
  <div class="container">
    <div class="row">
      <div class="col-lg-2" id="left_menu">
        <ul class="nav nav-pills nav-stacked">
          <% left_menu.get_items.each do |item| %>
          <li class="menu-item"><%= link_to item[:name], item[:path] %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-lg-10" id="content">
        <% if content_for? :title %>
          <div class="page-header">
            <h1><%= yield :title %></h1>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>